body{
    /*background-color:lightblue ;*/
    background-image:url(./image/BJD_Super_Dollfie_doll.jpg);
    
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size:20%
    background-position: right top;
    margin-right :200px
    background-attachment:scroll;
}
  /*h1{
    background-color: rgba (0, 128,0, 0.3);
}
p{
    color: beige;
    background-color: black;
}
div{
    background-color: rgb(240, 255, 251);
} */